#page-body {background-color: #f4f7f6;}
.title-primary {color: #1a365d;}
.title-secondary {color: #5be61bfa;}
#info-table {background-color: #eef0f5; border-color: #e0cbcb;}
.cell-bolt {background-color: #f0f5ee; color: #5d1a47;}
.table-cell {color: rgb(120, 122, 141);}
#contact { color: #0f4b72;;}
h3 {color: #0f4b72;}
.body {background-color: #f4f7f6;}
